<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'updatesinglepage' dataid=data.id %}"enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-12">
                  <label for="inputNanme4" class="form-label">Category Of photos</label>
                  <select type="text" class="form-control" id="inputNanme4" name="catname">


                      <option>{{data.category_photo}}</option>

                  </select>
                </div>
 <div class="col-12">
                  <label for="inputNanme4" class="form-label">photo Name</label>
                  <input type="text" class="form-control" id="inputNanme4" name="photo Name" value="{{data.photo_name}}">
                </div>
    <div class="col-12">
                  <label for="inputNanme4" class="form-label">photo</label>
                  <input type="file" class="form-control" id="inputNanme4" name="photo"><img src="{{data.photo.url}}"width="100px;">
                </div>
    <div class="col-12">
                  <label for="inputNanme4" class="form-label">Description</label>
                  <input type="text" class="form-control" id="inputNanme4" name="Description" value="{{data.p_description}}">
                </div>
    <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>
</body>
</html>
{% endblock %}